# Logs
logs
*.log
npm-debug.log*

# Build
node_modules
node_modules_linux
dist
dist-ssr
*.local
/build
/coverage

# Mac
.DS_Store

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea

# json-server db
db.json

#APIs
start-timecard-api.ps1