/* disabling rule due to Gov not using standard style class names */
/* stylelint-disable selector-class-pattern */
.govuk-table__header,
.govuk-table__cell {
  border: none;
  padding: 0.5em;
}

.accruals-container .govuk-table__header {
  font-weight: normal;
}

.govuk-table__row {
  border: 1px solid #bfc1c3;
}

.govuk-table__header:last-child,
.govuk-table__cell:last-child {
  padding-right: 0.5em;
}

/* stylelint-enable selector-class-pattern */

.accruals-container {
  width: 100%;
  height: auto;

  @media screen and (max-width: 800px) {
    width: 100%;
    height: auto;
  }
}

.accruals-container .govuk-heading-m {
  font-weight: normal;
  margin-bottom: 0;
}

.newline {
  white-space: pre-line;
}

.grey-border {
  border: 1px solid #bfc1c3;
  padding: 10px;
}

.govuk-table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 0;
  margin-top: 10px;
}

.bold {
  font-weight: bold;
}

.accruals-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.accruals-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-content: flex-start;
  align-items: baseline;
}
